
/*Estilo Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button, .btn-contato2 button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #228b22;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    transition: .2s;
    box-shadow: 0px 0px 8px #228b22;
}


h2.Titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

button:hover, form .btn-enviar input[type=submit]:hover{
    color: #fff;
    box-shadow: 0px 0px 8px #228b22;
    transform: scale(1.1);
}

/* Estilo do Cabeçalho */

header{
    padding: 40px 4%;
    box-shadow: 0 0 20px 1px #ffffff17;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
.logo a img{
    width: 250px;
}


header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.1);
    text-decoration: underline;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

header .interface .menu-desktop li {
    margin-right: -20px;
}

.btn-social button{
    background-color: #228b22;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin: 5px 15px;
    transform: .2s;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu i{
    color: #228b22;
    font-size: 50px;
    display: none;
}

.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu-mobile{
    width: 70%;
}

.menu-mobile.abrir-menu-mobile ~ .overlay-menu-mobile{
    display: block;
}
.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #228b22;
    color: #000;
}

.menu-mobile .btn-fechar{
    padding: 20px 8%;
    cursor: pointer;
}

.overlay-menu-mobile{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99900;
    display: none;
    cursor: pointer;
}

.menu-mobile .btn-fechar i{
    color: #228b22;
    font-size: 30px;
}


/* Estilo do TOPO DO SITE */

section.topo-do-site{
    padding: 90px 8%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    font-style: italic;
    margin-top: 40px;
}

.topo-do-site .frase-topo-site p{
    color: #fff;
    margin-top: 30px;
    margin-bottom: 40px;
}


.topo-do-site .img-topo img{
    border-radius: 30px;
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate-reverse;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}



/* Estilo das Habilidades */

section.Habilidade{
    padding: 40px 8%;
    margin-top: 150px;
    box-shadow: 0 0 20px 1px #ffffff17;
}

section.Habilidade .flex{
    gap: 60px;
}

.Habilidade .Habilidades-box{
    color: #fff;
    padding: 20px;
    margin-top: 70px;
    border-radius: 30px;
    transition: .2s;
    width: 3000px; /* Defina a largura desejada */
    height: 350px; /* Defina a altura desejada */
}

.Habilidade .Habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff36;
}

.Habilidade .Habilidades-box i{
    font-size: 58px;
    color: #228b22;
}

.Habilidade .Habilidades-box h3{
    font-size: 28px;
    margin: 20px 0;
}

/* ESTILO DO SOBRE */

section.Sobre{
    padding: 70px 8%;
    box-shadow: 0 0 20px 1px #ffffff17;
}

section.Sobre .flex{
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.Sobre .img-sobre img{
    border-radius: 30px;
}

.Sobre .txt-sobre{
    color: #fff;    
}

.Sobre .txt-sobre h2{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 60px;
}

.Sobre .txt-sobre h2 span{
    color: #228b22;
    display: block;
}

.Sobre .txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}


.btn-download button {
    background-color: #228b22;
    width: auto; /* Ajuste o tamanho conforme necessário */
    height: 55px;
    width: 160px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 5px 15px;
    transition: 0.2s;
    display: flex; /* Torna o botão um flex container */
    align-items: center; /* Alinha verticalmente os elementos */
    gap: 25px;
    position: relative;
    bottom: 6px;
}

.btn-download button p {
    margin-right: 10px; /* Espaço entre o texto e o ícone */
    padding-left: 7px;
    font-size: 15px;
}

.btn-download a {
    text-decoration: none;
}


.btn-download button i {
    font-size: 25px;
}


.btn-social, .btn-download {
    display: inline-block; /* Torna as divs de botões inline-block para ficarem lado a lado */
}



/* ESTILO DOS PROJETOS */

section.Projetos{
    padding: 40px 8%;
    box-shadow: 0 0 20px 1px #ffffff17;
}

section.Projetos .flex{
    justify-content: space-around;
    margin-top: 20px;
    
}


.img-project{
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: 100% 100;
    transition: 5s;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
}

.img-project:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
    box-shadow: 0 0 20px 1px #ffffff99;
}


/* ESTILO DO CONTATO */

section.Contato{
    padding: 80px 8%;
    box-shadow: 0 0 20px 1px #ffffff17;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 125px;
}


form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;   
}


form input::placeholder, form textarea::placeholder{
    color: #228b22;
}

form textarea{
    resize: none;
    max-height: 250px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 100px;
    background-color: #228b22;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
    box-shadow: 0px 0px 8px #228b22;
}





/* ESTILO DO FOOTER */
footer{
    padding: 80px 8%;
    box-shadow: 0 0 20px 1px #ffffff17;
}

footer .flex{
    justify-content: right;
}

footer .line-footer{
    padding: 15px 0;
}


.borda{
        border-top: 2px solid #228b22;
        position: absolute;
        left: 0;
        right: 0;
}
footer .line-footer .btn-social {
        display: flex;
        justify-content: center;
}

footer .line-footer p a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-right: 35px;
}
footer .line-footer .btn-footer{
        margin-right: 85px;
}

footer .borda .btn-social a i{
    color: #000;
}

footer .borda .btn-social a i:hover{
    color: #fff;
}

p.footer{
    margin-top: 150px;
    text-align: center;
    color: #fff;
}







/* RESPONSIVIDADE */
@media screen and (max-width: 1650px){

    /* HABILIDADES */
    .Habilidade .Habilidades-box{
        width: 3000px; /* Defina a largura desejada */
        height: 450px; /* Defina a altura desejada */
    }

}

@media screen and (max-width: 1638px){
    .btn-download button {
        margin-top: 15px;
    }
}

@media screen and (max-width: 1406px){
    .btn-download button {
        bottom: 77px;
        left: 80px;
    }
}


@media screen and (max-width: 1293px){
    .btn-download button {
        left: 180px;
    }
}


@media screen and (max-width: 1201px){
    .btn-download button {
        left: 80px;
    }
}

@media screen and (max-width: 1200px){
    /* HABILIDADES */
    .Habilidade .Habilidades-box{
        width: 3000px; /* Defina a largura desejada */
        height: 500px; /* Defina a altura desejada */
    }
    
    /* SOBRE */
    .Sobre .txt-sobre h2{
        font-size: 40px;
        margin-bottom: 0px;
    }
    
    .Sobre .img-sobre img{
        width: 500px;
    }
    
}

@media screen and (max-width: 1100px){
    .topo-do-site h1{
        font-size: 30px;
        line-height: 35px;
        margin-top: 0px;
    }
    
    .topo-do-site .frase-topo-site p{
        font-size: 17px;
    }

    /* HABILIDADES */
    .Habilidade .Habilidades-box{
        width: 3000px; /* Defina a largura desejada */
        height: 530px; /* Defina a altura desejada */
    }
    
    section.Projetos .flex{
        gap: 30px;
        margin-top: 25px;
    }
   

}

@media screen and (max-width: 1128px){
    .btn-download button {
        left: 180px;
    }
}


@media screen and (max-width: 1020px){

    /* Classe Geral */
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    
    /* MENU MOBILE */
    .btn-abrir-menu i{
        display: block;
    }

    /* Topo Do Site */
    section.topo-do-site{
        padding: 20px 10%;
    }

    .topo-do-site h1{
        margin-top: -50px;
    }

    .topo-do-site .img-topo img{
        width: 350px;
    }
    
    .btn-contato2{
        display: flex;
        justify-content: center;
    }

    /* Cabecalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* Habilidades */
    .Habilidade .Habilidades-box{
        width: 300px; /* Defina a largura desejada */
        height: 500px; /* Defina a altura desejada */
        margin: 0 auto;
        margin-top: 50px;
    }
    
    .Habilidade .Habilidades-box i{
        font-size: 58px;
        color: #228b22;
    }
    
    .Habilidade .Habilidades-box p{
        font-size: 18px;
    }


    /* SOBRE */

    .Sobre .img-sobre img{
        width: 350px;
    }
    
    .Sobre .txt-sobre h2{
        font-size: 32px;

    }
    
    .Sobre .txt-sobre p{
        font-size: 17px
    }

    .btn-download button {
        height: 55px;
        width: 180px;
        gap: 20px;
    }

    .btn-download button {
        top: -5px;
        left: -10px;
    }

    /* PROJETOS */
    .img-project{
        margin-bottom: 40px;
        margin: 0 auto;
        margin-top: 50px;
    }


    /* CONTATO */

    section.Contato h2.Titulo{
       font-size: 32px;
    }

}

@media screen and (max-width: 573px){
    .btn-download button {
        left: 95px;
        top: -78px;
    }
}
